
.card {
  padding: 1.2em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px gray;

  .preview{
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 1rem;
    border: solid 1px white;
    padding: 1rem;
  }
  
  .editor{
    width: 100%;
    display: block;
    min-height: 160px;
    border: none;
    outline: none;
    background: transparent;
    padding: 1.2rem;
    padding-bottom: 2rem;
    width: calc(100% - 2.4rem);
    resize: none;
  }

  
  .actions{
    padding: .3rem 1.2rem;

    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tools{
      >button{
        margin-right: .4rem;
        background-color: transparent;
        border: none;
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover{
          color: burlywood;
        }
      }

    }
    >button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
    
      &:hover {
        border-color: #646cff;
      }
      &:focus,
      &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
      }


    }
    
    
  }

}

.read-the-docs {
  color: #888;
}
